{% extends 'main/layout.html' %}

{% block title %}HHabits FAQ{% endblock %}


{% block content %}
  <!-- Основной контент -->
     <!-- Контент страницы FAQ -->
    <main class="main-content">
        <section class="faq-section">
            <h2>Часто задаваемые вопросы</h2>
            <div class="faq-item">
                <h3>Зачем нужен генератор полезных привычек?</h3>
                <p>
                    Генератор полезных привычек — это инструмент, который помогает вам внедрить в свою жизнь новые, полезные рутины.
                    Мы знаем, как сложно бывает начать что-то новое, особенно когда речь идет о долгосрочных изменениях.
                    Наш генератор предлагает простые и эффективные привычки, которые вы можете внедрить в свою повседневную жизнь.
                </p>
            </div>
            <div class="faq-item">
                <h3>Как это работает?</h3>
                <p>
                    Просто нажмите кнопку "Сгенерировать" на главной странице, и вы получите случайную полезную привычку, которую можно начать практиковать уже сегодня.
                    Вы можете добавлять привычки в свой список, отслеживать прогресс и отмечать выполненные задачи.
                    Со временем эти небольшие изменения приведут к большим результатам!
                </p>
            </div>
            <div class="faq-item">
                <h3>Почему это важно?</h3>
                <p>
                    Привычки формируют нашу жизнь. Они определяют, как мы проводим свои дни, как мы достигаем целей и как мы чувствуем себя.
                    Полезные привычки, такие как регулярные тренировки, здоровое питание или чтение книг, помогают нам становиться лучше каждый день.
                    Наш генератор — это ваш помощник на пути к лучшей версии себя.
                </p>
            </div>
        </section>
{% endblock %}